.pick-section {
    margin-top: 177px;
}
.pick {
    padding: 91px 0 107px 85px;
    background-color: #2c343e;
    border-radius: 10px;
  }
  .pick__wrapper {
    margin-left: 16px;
    position: relative;
    width: 760px;
    height: 2px;
    background-color: #fdd6ba;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pick__circle {
    position: absolute;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 2px solid rgba(14, 135, 132, 1);
  }
  .pick__circle:nth-child(1) {
    transform: translateX(-50%);
  }
  .pick__circle:nth-child(2) {
    left: 0;
    right: 0;
    margin: auto;
  }
  .pick__circle:nth-child(3) {
    right: 0;
    transform: translateX(50%);
  }
  .pick__list {
    width: 1045px;
    display: flex;
    justify-content: space-between;
    margin-top: 83px;
  }
  .pick__item {
    width: 285px;
  }
  .pick__number {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fdd6ba;
  }
  .pick__title {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #fefcf7;
    margin-top: 38px;
  }
  .pick__text {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7;
    margin-top: 42px;
  }